@{
    ViewBag.Title = "Home Page";
}
<style>
    body {
        background-color: black;
        color: palegreen;
    }

    .jumbotron {
        background-color: beige;
        margin-top: 50px;
    }
</style>
<div class="jumbotron">
    <h1><font color="#0B4C5F">University Management System</font></h1>
    @*<h2><font color="black">ASP WARRIOR</font></h2>*@


</div>
<p class="lead"></p>  @*Team Members </p>*@
<div class="row">
    @*<div class="col-md-3">
        <h2>Jahir Mohammod</h2>
        <p>
            Dept. of Computer Science & Engineering<br />Chittagong University of Engineering & Technology
        </p>
    </div>
    <div class="col-md-3">
        <h2>Shahriar Mahamud Sajid</h2>
        <p>
            Dept. of Computer Science & Engineering<br />Chittagong University of Engineering & Technology
        </p>
    </div>
    <div class="col-md-3">
        <h2>Raju Das</h2>
        <p>
            Dept. of Computer Science & Engineering<br />University of Chittagong
        </p>
    </div>*@
    <div class="col-md-3">
        <h2>Uttam Kumar Nath</h2>
        <p> Dept. of Computer Science & Engineering </p>
        <p>East Delta University</p>
    </div>


</div>